<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>





<body style="background-color:#7E8F7C">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2" style=" height: auto;"></div>
        <div class="col-sm-8" style="background-color:#f4fffa; height: 1000px; border: 2px solid #000000; border-radius: 8px;">
   
            <nav class="navbar navbar-default" style="margin-top: 5px;">
              <div class="container-fluid" >
                <div class="navbar-header">
                  <a class="navbar-brand" href="/posts">Emrah ÇETİNKAYA</a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/posts">Home Page</a></li>
                  <li><a href='#'> My CV  </a> </li>
                </ul>
              </div>
            </nav>
            
            <div style=" border: 2px solid #000000; border-radius: 8px;">
              <div style="margin:15px">
                <div class="row">
                    <div class="col-sm-6" style="background-color:#f4fffa; height:80px">
                        <h2 style="margin: 5px">
                            <h4 style="margin: 5px">Student of Software Engineering</h4>
                        </h2>
                    </div>
                    <div class="col-sm-6" style="background-color:#f4fffa; height:80px;">
                        <h5 style="text-align:right;">
                            Fırat University<br>
                            ELAZIĞ<br>
                            cetinkayaaemrah@gmail.com
                            </h5>
                    </div>
                </div>
                <p>
                  <p style="color:#0035FF"><i class="fa fa-coffee" ></i><b>About</b></p>
                  <b>
                    I follow new technologies closely. 
                    My goal is to reach a certain level in software technologies.<br>
                    I intend to help people by sharing my teachings.
                    When information is shared, it multiplies.
                  </b>
                </p>
            <table>
              <tr>
                <th><i class="fa fa-child" style="color:#0035FF"> <b style="color:#0035FF">  Informations</b></th>
                <th> </th>
              </tr>
              <tr>
                <td>Name</td>
                <td>Emrah</td>
              </tr>
              <tr>
                <td>Surname</td>
                <td>CETINKAYA</td>
              </tr>
              <tr>
                <td>Birth Place </td>
                <td>Malatya</td>
              </tr>
              <tr>
                <td>Marital</td>
                <td>Single</td>
              </tr>
              <tr>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td><i class="fa fa-suitcase" style="color:#0035FF"> <b style="color:#0035FF">  Education Informations</b></td>
                <td> </td>
              </tr>
              <tr>
                <td>High School</td>
                <td>Bayrampaşa Tuna High School (2009-2013)</td>
              </tr>
              <tr>
                <td>University Preparation </td>
                <td>Christ University (2014-2015)</td>
              </tr>
              <tr>
                <td>University</td>
                <td>Fırat University (2015-2019 Continue)</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><i class="fa fa-share-alt" style="color:#0035FF"> <b style="color:#0035FF">  Social Networks</b></td>
                <td>
                  <a target="_blank" href="http://github.com/emrahcetinkaya" style="font-size:30px;color:#667187"><i class="fa fa-github-square"></i></a>
                  <a target="_blank" href="http://www.facebook.com/cetinkayaaemrah" style="font-size:30px;color:#3B5998" ><i class="fa fa-facebook-square"></i></a>
                  <a target="_blank" href="http://twitter.com/cetinkayaaemrah" style="font-size:30px;"><i class="fa fa-twitter-square"></i></a>
                  <a target="_blank" href="http://tr.linkedin.com/in/cetinkayaaemrah/" style="font-size:30px;"><i class="fa fa-linkedin-square"></i></a>
                  <a target="_blank" href="http://instagram.com/cetinkayaemrah" style="font-size:30px; color:#ff3d43"><i class="fa fa-instagram"></i></a>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><i class="fa fa-gears" style="color:#0035FF"> <b style="color:#0035FF"> My Talents</b></td>
                <td></td>
              </tr>
              <tr>
                <td> C# </td>
                <td>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>

                </td>
              </tr>
              <tr>
                <td> Java</td>
                <td>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </td>
              </tr>
              <tr>
                <td> MsSQL </td>
                <td>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </td>
              </tr>
              <tr>
                <td> Ruby On Rails </td>
                <td>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </td>
              </tr>
              <tr>
                <td> HTML </td>
                <td>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </td>
              </tr>
              <tr>
                <td> Css </td>
                <td>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </td>
              </tr>
            </table>
                
                
              </div>
            </div>
        </div>
        <div class="col-sm-2" style=" height: auto;"></div>
      </div>
    </div>
</body>
